@model StudentRecordSystem.Models.Student

<link rel="stylesheet" href="/css/Styles.css"/>
<meta name="viewport" content="width=device-width" />

<form method="post" class="m-2">
    <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName" class="form-label">First Name</label>
            <input asp-for="FirstName" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="LastName" class="form-label">Last Name</label>
            <input asp-for="LastName" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="DateOfBirth">Date of Birth</label>
            <input type="date" asp-for="DateOfBirth" class="form-control form-datetimepicker" placeholder="MM-DD-YYYY" />
        </div>

        <div class="form-group mt-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Phone" class="form-label">Phone</label>
            <input asp-for="Phone" class="form-control" />
        </div>

        <div class="form-group">
                <input type="submit" class="btn btn-primary mt-2" />
        </div>
</form>
